@import 'bootstrap/dist/css/bootstrap';
h1 {
  color: #1D5C63;
  }
  nav{
    background-color: #383838;
  }
  nav a{
    color: #E9EFC0;
  }
  .nav-link{
    color: #E9EFC0;
  }
  a{
    text-decoration: none;
  }