// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.listing{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
}
.details{
  display: flex;
 gap:2rem;
}
.bgColor{
  background-color: #F8ECD1;
  height:100vh;
}

.color{
  background-color: #AC7D88;
}
#description{
  height:15rem;
}