<h1 class="text-center ">Edit category</h1>
<% if @category.errors.any? %> 
  <h2>The following errors prevented the item from being saved</h2> 
  <ul> 
    <% @category.errors.full_messages.each do |msg| %> 
      <li><%= msg %></li> 
    <% end %> 
  </ul>
<% end %>
<%= render "form", category: @category %>
