<% if logged_in? && current_user.admin? %>
  <%= link_to "Create new Category", new_category_path, class: "text-center m-3 " %>
<% end %>
<% @categories.each do |category| %>
 <div class="card text-center m-3">
  <div class="card-body">
    <h5 class="card-title"><%= category.name %></h5>
    <% if logged_in? && current_user.admin? %>
    <%= link_to "Edit", edit_category_path(category), class: "btn btn-primary mb-3" %>
    <%= button_to "Delete", category_path(category), method: :delete, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<% end %>